.serves__top-mix {
  max-width: 255px;
  height: 356px;
}
.serves__text-top {
  max-width: 30px;
  height: 32px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #0e8784;
}
.serves {
  margin-bottom: 168px;
}
.serves__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.serves__line {
  max-width: 255px;
  height: 1px;
  border: 1px solid #83888f;
  background: #83888f;
  opacity: 0.25;
}

.serves__helper {
  max-width: 211px;
  height: 32px;

  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: left25;
}
.serves__text-second-top {
  max-width: 33px;
  height: 32px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.serves__text-second-bottom {
  max-width: 162px;
  height: 32px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-left: 16px;
}
.serves__text-second-bottom:hover {
  color: black;
}

/*=========================================================================================*/

.serves__list {
  max-width: 228px;
  height: 250px;

  background: #f4f1eb;
  border-radius: 8px;
  padding: 32px 28px 84px 28px;
  margin-bottom: 88px;
}
.serves__list:hover {
  background: #fdd6ba;
}
.serves__list:active {
  background: #0e8784;
}

.serves__left-title {
  max-width: 161px;
  height: 32px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  margin-bottom: 24px;
}

.serves__left-text {
  max-width: 172px;
  height: 78px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
.choose__about {
  max-width: 670px;
  height: 48px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888f;
  margin-bottom: 56px;
}

.serves__left-helper {
  max-width: 730px;
  height: 250px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.choose__let {
  max-width: 730px;
  height: 208px;
  padding: 47px 64px;
  background: #2c343e;
  border-radius: 10px;
  margin-bottom: 40px;
}
.choode__let-text {
  max-width: 172px;
  height: 26px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 8px;
}
.choose__let-text-second {
  max-width: 602px;
  height: 80px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}
.bootcamp {
  color: #0e8784;
}

.choose__let-link {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;

  padding: 15px 35.5px 16px 36.5px;
  background: #0e8784;
  border-radius: 6px;
  margin-left: 70%;
}
.choose__let-link:hover {
  background: #66d2cf;
}
.choose__let-link:active {
  background: #e2dedb;
}
